div(
    marginwidth="0"
    marginheight="0"
    style="width:100%;background-color:#ffffff;margin:0;padding:0;font-family:'Open Sans',sans-serif"
    )
    table(
        width="100%"
        cellpadding="0"
        cellspacing="0"
        style="border-collapse:collapse;width:100%;min-width:100%;height:auto"
    )
        tbody
            tr
                td(
                    width="100%"
                    valign="top"
                    style="padding-top:20px"
                )
                    table(
                        width="580"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse:collapse;margin:0 auto"
                    )
                        tbody
                            tr(
                                style="font-size:13px;color:#282828;font-weight:normal;text-align:left;font-family:'Open Sans',sans-serif;line-height:24px;vertical-align:top;padding:15px 8px 10px 8px"
                                )
                                h1(
                                    style="text-align:center;font-weight:600;margin:30px 0 50px 0"
                                    ) PASSWORD RESET REQUEST
                                p Dear Tornado User,
                                p We have received your request to reset your password. Please click the link below to complete the reset:
                            tr(
                                style="padding-bottom:30px")
                                a(
                                    href='http://' + host + '/reset-password?token=' + token
                                    style="padding:10px;width:300px;display:block;text-decoration:none;border: 1px solid #435761;text-align:center;font-weight:bold;font-size:14px;font-family:'Open Sans',sans-serif;color:#ffffff;background: #435761;border-radius:5px;line-height:17px;margin:0 auto;"
                                    target="_blank"
                                ) Reset My Password
                            tr(
                                style="font-family:'Open Sans',sans-serif;font-size:13px;padding:0px 10px 0px 10px;text-align:left"
                                )
                                p If you need additional assistance, or you did not make this change, please contact
                                    a(
                                        href='mailto:' + helpEmail
                                        style="color: #d9ac00;text-decoration:underline;font-weight:bold;"
                                        target="_blank"
                                    ) #{helpEmail}
                                p Cheers,
                                br
                                p The Tornado Team
    div(
        style="height:15px;margin:0 auto"
        )
    table(
        width="580"
        cellpadding="0"
        cellspacing="0"
        style="border-collapse:collapse;margin:0 auto"
    )
        tbody
            tr
                td(
                    style="font-family:'Open Sans',sans-serif;line-height:150%;padding-top:10px;padding-left:10px;padding-right:18px;padding-bottom:30px;text-align:left;border-bottom:0;font-size:10px;border-top:0"
                    )
                    table(
                        width="100%"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse:collapse"
                        )
                        tbody
                            tr
                                td(
                                    valign="top"
                                    style="text-align:center;font-size:11px;color:#282828;font-family:'Open Sans',sans-serif;padding:20px 0;padding-left:0px"
                                ) © 2020 Tornado., All Rights Reserved